/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */
body{
  font-family:'Poppins',sans-serif;
  min-height:100vh;
  overflow:hidden;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  background:black;
}

/* 🎬 BACKGROUND */
.bg{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;
  object-fit:cover;

  z-index:-2;

  /* 🧊 ABU ABU BLUR VIBE */
  filter:
    blur(10px)
    grayscale(100%)
    brightness(0.4);

  transform:scale(1.15);

  animation:zoom 18s ease-in-out infinite alternate;
}

/* ZOOM SLOW */
@keyframes zoom{
  0%{ transform:scale(1.15); }
  100%{ transform:scale(1.22); }
}

/* CONTAINER */
.container{
  width:90%;
  max-width:420px;

  padding:35px 25px;

  text-align:center;

  border-radius:28px;

  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(18px);

  border:1px solid rgba(255,255,255,0.12);

  z-index:2;

  box-shadow:
    0 0 25px rgba(0,0,0,0.5),
    inset 0 0 15px rgba(255,255,255,0.05);
}

/* PROFILE */
.profile-img{
  width:110px;
  height:110px;

  border-radius:50%;
  object-fit:cover;

  border:3px solid rgba(255,255,255,0.15);

  margin-bottom:18px;
}

/* TITLE */
h1{
  font-size:30px;
  margin-bottom:10px;
}

/* DESC */
.desc{
  font-size:14px;
  color:#d1d1d1;
  margin-bottom:28px;
}

/* BUTTON */
.btn{
  display:block;
  text-decoration:none;

  color:white;

  background:rgba(255,255,255,0.08);

  padding:15px;
  margin-bottom:14px;

  border-radius:18px;

  border:1px solid rgba(255,255,255,0.1);

  transition:0.2s;
}

/* HOVER */
.btn:hover{
  transform:translateY(-3px) scale(1.02);
  background:rgba(255,255,255,0.14);
}

/* CLICK FEEL */
.btn:active{
  transform:scale(0.96);
}

/* FOOTER */
footer{
  margin-top:15px;
  color:#aaa;
  font-size:13px;
}